<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.commands">
      <command
            id="robot_framework_refactor_tool.rename_keyword_command"
            name="rename_keyword">
      </command>
      <command
            id="robot_framework_refactor_tool.rename_variable_command"
            name="rename_variable">
      </command>
      <command
            id="robot_framework_refactor_tool.change_signature_command"
            name="change_keyword_signature">
      </command>
      <command
            id="robot_framework_refactor_tool.wrap_steps_as_a_new_keyword"
            name="wrap_steps_as_a_new_keyword">
      </command>
      <command
            id="robot_framework_refactor_tool.move_keyword_defined_to_another_file"
            name="move_keyword_defined_to_another_file">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="robot_framework_refactor_tool.handlers.RenameVariableHandler"
            commandId="robot_framework_refactor_tool.rename_variable_command">
      </handler>
      <handler
            class="robot_framework_refactor_tool.handlers.RenameKeywordHandler"
            commandId="robot_framework_refactor_tool.rename_keyword_command">
      </handler>
      <handler
            class="robot_framework_refactor_tool.handlers.ChangeSignatureHandler"
            commandId="robot_framework_refactor_tool.change_signature_command">
      </handler>
      <handler
            class="robot_framework_refactor_tool.handlers.WrapStepsAsANewKeywordHandler"
            commandId="robot_framework_refactor_tool.wrap_steps_as_a_new_keyword">
      </handler>
      <handler
            class="robot_framework_refactor_tool.handlers.MoveKeywordDefinedToAnotherFileHandler"
            commandId="robot_framework_refactor_tool.move_keyword_defined_to_another_file">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="robot_framework_refactor_tool.menus.refactorMenu"
               label="Rf Refactoring"
               mnemonic="M">
            <command
                  commandId="robot_framework_refactor_tool.rename_keyword_command"
                  id="robot_framework_refactor_tool.menus.rename_keyword_command"
                  label="Rename Keyword">
            </command>
            <command
                  commandId="robot_framework_refactor_tool.rename_variable_command"
                  label="Rename Variable"
                  style="push">
            </command>
            <command
                  commandId="robot_framework_refactor_tool.change_signature_command"
                  label="Change Keyword Signature"
                  style="push">
            </command>
            <command
                  commandId="robot_framework_refactor_tool.wrap_steps_as_a_new_keyword"
                  label="Wrap Steps As A New Keyword"
                  style="push">
            </command>
            <command
                  commandId="robot_framework_refactor_tool.move_keyword_defined_to_another_file"
                  label="Move Keyword Defined To Another File"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Rf Refactoring">
            <command
                  commandId="robot_framework_refactor_tool.rename_variable_command"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="robot_framework_refactor_tool.rename_keyword_command"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.builders">
      <builder></builder>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="robot_framework_refactor_tool"
            name="Sample Category">
      </category>
      <view
            category="robot_framework_refactor_tool"
            class="robot_framework_refactor_tool.views.ShowReferencesView"
            icon="icons/sample.png"
            id="robot_framework_refactor_tool.views.ReferencesView"
            inject="true"
            name="References">
      </view>
      <view
            category="robot_framework_refactor_tool"
            class="robot_framework_refactor_tool.views.FileSelectionView"
            icon="icons/sample.png"
            id="robot_framework_refactor_tool.views.FileSelectionView"
            inject="true"
            name="FileSelectionView">
      </view>
      <view
            category="robot_framework_refactor_tool"
            class="robot_framework_refactor_tool.views.SameKeywordsSelectionView"
            icon="icons/sample.png"
            id="robot_framework_refactor_tool.views.SameKeywordsSelectionView"
            inject="true"
            name="SameKeywordsSelectionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="robot_framework_refactor_tool.views.ReferencesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="robot_framework_refactor_tool.views.RefactorPreferencePage"
            id="robot_framework_refactor_tool.preference"
            name="Robot Framework Refactoring">
      </page>
   </extension>
</plugin>
